@font-face {
  font-family: "MyFont";
  src: url("Resource/Font/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "MyFont";
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

.container-fluid {
  overflow: hidden;
  padding: 0;
}

.btnnovi {
  background-color: rgba(216, 97, 97, 0.8);
}

.nevidljivo {
  visibility: hidden;
}
.SlikaVelicina {
  max-width: 400px;
  max-height: 400px;
  min-width: 150px;
  min-width: 150px;
}
.glavniDivProfila {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 70px;
}
.horizontalno {
  padding-left: 10%;
}
.list-group {
  margin-bottom: 5%;
  margin-top: 2%;
  margin-right: 4%;
}

.btnRight {
  float: right;
}

.row,
.row1 {
  padding-top: 40px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.card-body {
  text-align: center;
}

.card {
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.red2 {
  display: flex;
  flex-direction: row;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.topdiv {
  padding-top: 70px;
}

.red {
  margin-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: row;
  border: 2px solid #fff;
}
.cardd {
  display: flex;
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: row;
  border: 2px solid #fff;
}
.slideshow-container {
  margin-top: 2%;
}

.novidiv {
  display: flex;
}

.card-body {
  text-align: center;
}
.card-texttt {
  color: white;
}
.card-titlee {
  color: white;
  font-size: 50px;
  padding: 10px;
}
.korisnici {
  padding: 5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.korisnik {
  background-color: #d6ccff;
  min-width: 20em;
  text-align: center;
  margin: 0.6em;
  padding: 2.3em 0.7em 0.7em 0.7em;
  box-shadow: 0.08em 0px 0.8em black;
}
.whole {
  display: flex;
  justify-content: center;
}

.card-textt {
  font-size: 20px;
}
.card-text {
  font-size: 20px;
}

.naslov {
  flex-grow: 1;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  color: white;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.chessboard {
  width: 800px;
  height: 800px;
  border: 2px #bbc8f0 solid;
  float: left;
}
.chessboard div {
  width: 12.5%;
  height: 12.5%;
  float: left;
}
.chessboard div img {
  width: 100%;
  height: 100%;
}
.chessboard div p {
  position: absolute;
}
.chessboard div.B {
  background-color: #bbc8f0;
}
.chessboard div.W {
  background-color: #fff;
}
.chessboard div#colorGreen {
  background-color: green;
}
.chessboard div#colorRed {
  background-color: red;
}
.chessboard div.selected {
  background-color: yellow;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
