<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../stilovi/style.css">
  </head>
  <body>
        <form style="display:flex; flex-grow: 1; justify-content: center;"
          action="/users/changeProfileImage" method="POST" enctype="multipart/form-data">
          <div class="col-sm-6" style="margin-left: 25%;">
            <div class="form-group">
                <label for="avatar">Unesite novu sliku profila:</label>
                  <input
                    type="file" 
                    accept="image/png, image/jpeg"
                    id="avatar"
                    name="avatar"
                    class="form-control",
                    value="<%= typeof avatar != 'undefined' ? avatar : '' %>"
                />
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-block" style="width: 50%; margin-top: 2%; margin-left:25%;">
                  Primeni dodatu sliku
                </button>
            </div>
          </div>
            <input class="nevidljivo" name="email" value="<%=email%>"></input>
        </form> 
  </body>
</html>